body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}
header{
  font-weight: 1000;
  font-size: xx-large;
  justify-content: center;
  padding-left: 300px;
  background: lightblue;
  height:70px;

}


.cart-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.total-section {
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px auto;
  max-width: 800px;
  color: #333;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.back-btn,
.order-btn {
  display: inline-block;
  padding: 12px 24px;
  margin: 10px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.back-btn {
  background-color: blue;
  color: white;
  border: 1px solid #ccc;
}

.back-btn:hover {
  background-color: lightseagreen;
  
}

.order-btn {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.order-btn:hover {
  background-color: #218838;
}
.clear-btn {
  background-color: #ff4d4d;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px; /* To separate it from other buttons */
}

.clear-btn:hover {
  background-color: #e60000;
}
